

MONGO_URI=mongodb+srv://growwpark:growwpark123@cluster0.qsoytwo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0t1u2v3w4x5y6z7A8B9C0D1E2F3

RAZORPAY_KEY_ID=rzp_live_gBP9geXusrKWUg
RAZORPAY_KEY_SECRET=hCpyTv9AiSrMWONnsFu8dSs0
# JWT Secret
JWT_SECRET=1f7e4c92a8b3f25c5d2d99f4a6e8b7c1f4d5e6a8b9c0d1e2f3a4b5c6d7e8f9a0

